@import "tailwindcss";

body {
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    background-color: rgb(9, 55, 66);
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
}

.app-contanier {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(131, 15, 15, 0.1);
}

header {
    font-size: 24px;
    color: white;
    margin-bottom: 20px;
    text-align: center;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
}

.profile-container {
    margin-top: 20px;
    padding: 20px;
    background-color: #0f333f;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: left;
    color: white;
    font-family: 'Times New Roman', Times, serif;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 15px;
}

.logout-button,
.login-button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 10px;
}

.logout-button:hover,
.login-button:hover {
    background-color: #0056b3;
}

button {
    font-size: 16px;
    cursor: pointer;
    margin: 5px;
}

p {
    font-size: 16px;
    color: white;
    margin: 5px 0;
}

.todo-container {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.todo-header {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}

.todo-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.input-field {
    flex: 1;
    padding: 8px;
    margin-right: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    color: black
}

.add-button {
    background-color: #4caf50;
    color: #fff;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.add-button:hover {
    background-color: #0e7c4e;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fff;
    color: black;
}

.edit-input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-right: 10px;
    color : #333;
}

.save-button,
.edit-button,
.delete-button {
    background-color: #007bff;
    color: #fff;
    padding: 6px 12px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: 5px;
}

.save-button:hover,
.edit-button:hover {
    background-color: #042446;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}